# Dementia Prediction Project  
Sarah Spalding  
Goal: The goal of this project is to analyze an existing dataset comparing individuals with and without dementia and to predict the likelihood of dementia in other individuals based off of this dataset

In [ ]:
# import libraries
import pandas as pd
import sqlite3
import numpy as np

:

### Get the data 
The dataset is from kaggle.com, get the csv file from the link below.   
[Dataset](https://www.kaggle.com/datasets/shashwatwork/dementia-prediction-dataset?resource=download)

In [67]:
# assign the file path to a variable
path = "dementia_dataset.csv"
df_raw_data = pd.read_csv(path) 
# view the data 
df_raw_data.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034

#### Explanation of Acronyms
- MR Delay: Magnetic resonance delay, delay time that is prior to the image procurement  
- SES: Social Economic Status  
- EDUC: Education Level  
- MMSE: Mini-mental stat examination score  
    - Range: 1-30, <10: extreme impairement, 10-19: Moderate Dementia, 19-24: Early stage Alzheimer's dementia, >25: normal   
- CDR: Clinical Dementia Ratio  
    - Range 0-3, 0: none, 0.5: very-mild, 1: mild, 2: moderate, 3: extreme
- e-TIV: estimated Total Intracranial Volume  
- n-WBV: normalized Whole Brain Volume  
- ASF: Atlas Scaling Factor  
- Visit: Number of Subject Visits  
    - 0: low status, 1: high status

In [68]:
# creates database, if db already exists just connects to db
conn = sqlite3.connect("Dementia.db")

In [69]:
# store table in database
df_raw_data.to_sql('Raw_Data',conn, if_exists='replace')

c:\Users\sspal\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

### Data Wrangling

In [70]:
# create a pandas dataframe from the dictionary
query = 'SELECT * FROM Raw_Data'
data_wrangled = pd.DataFrame.from_dict(pd.read_sql(query,conn))

In [71]:
# identify columns with missing data
data_wrangled.isnull().sum()

index          0
Subject ID     0
MRI ID         0
Group          0
Visit          0
MR Delay       0
M/F            0
Hand           0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
dtype: int64

In [72]:
# handle Missing Values - fill missing entries with the average of that column
# replace the np.nan values with the mean values
data_wrangled['SES'].replace(np.nan,data_wrangled.SES.mean().round(0),inplace= True)
data_wrangled['MMSE'].replace(np.nan,data_wrangled.MMSE.mean().round(0),inplace= True)

In [73]:
# ensure we got rid of missing data
data_wrangled.isnull().sum()

index         0
Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Hand          0
Age           0
EDUC          0
SES           0
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [74]:
# identify which columns are numerical and categorical
data_wrangled.dtypes

index           int64
Subject ID     object
MRI ID         object
Group          object
Visit           int64
MR Delay        int64
M/F            object
Hand           object
Age             int64
EDUC            int64
SES           float64
MMSE          float64
CDR           float64
eTIV            int64
nWBV          float64
ASF           float64
dtype: object

In [75]:
# implement one-hot encoding to M/F, 0 = Female, 1 = Male
data_wrangled['M/F'].replace(to_replace=['F','M'], value=[0,1],inplace=True)

In [76]:
data_wrangled.head()

,index,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,1,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,1,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,1,R,75,12,2.0,23.0,0.5,1678,0.736,1.046
3,3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,1,R,76,12,2.0,28.0,0.5,1738,0.713,1.010
4,4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,1,R,80,12,2.0,22.0,0.5,1698,0.701,1.034

In [77]:
# all subjects in the study were right handed so lets delete the Hand column
data_wrangled.drop(['Hand'], axis = 1, inplace = True)
data_wrangled.head()

,index,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,1,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,1,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,1,75,12,2.0,23.0,0.5,1678,0.736,1.046
3,3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,1,76,12,2.0,28.0,0.5,1738,0.713,1.010
4,4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,1,80,12,2.0,22.0,0.5,1698,0.701,1.034

In [78]:
# identify which columns are numerical and categorical
data_wrangled.dtypes

index           int64
Subject ID     object
MRI ID         object
Group          object
Visit           int64
MR Delay        int64
M/F             int64
Age             int64
EDUC            int64
SES           float64
MMSE          float64
CDR           float64
eTIV            int64
nWBV          float64
ASF           float64
dtype: object

In [87]:
# condition = data_wrangled[data_wrangled['Group']=='Converted'].index
# data_wrangled.drop(condition, inplace = True)

condition1 = (data_wrangled['Group']=='Converted') & (data_wrangled['CDR']>=0.5)
data_wrangled.loc[condition1,'Group']='Demented'
condition2 = (data_wrangled['Group']=='Converted') & (data_wrangled['CDR']==0.0)
data_wrangled.loc[condition2,'Group']='Nondemented'
data_wrangled.loc[data_wrangled['Group']=='Converted']

Empty DataFrame
Columns: [index, Subject ID, MRI ID, Group, Visit, MR Delay, M/F, Age, EDUC, SES, MMSE, CDR, eTIV, nWBV, ASF]
Index: []

In [88]:
# make a new table in database for wrangled data
data_wrangled.to_sql('datawrangled',conn, if_exists='replace')

c:\Users\sspal\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(